body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

button {
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

#cookieBtn {
  font-size: 30px;
  background: orange;
}

#shop {
  margin-top: 20px;
  padding: 10px;
  background: #222;
  border-radius: 10px;
}

/* 📻 RADYO */
#radio {
  position: fixed;
  right: 10px;
  top: 50%;
  font-size: 40px;
  cursor: pointer;
  background: #333;
  padding: 10px;
  border-radius: 10px;
}

/* 👵 JUMPSCARE */
#jumpscare {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 120px;
  background: black;
  color: white;
  align-items: center;
  justify-content: center;
}
